@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cell_white {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}



#main {
  grid-template-columns: repeat(20, 30px);

}

.queue {
  background-color: rgb(37, 99, 235);
  color: white;
}


.queue_button {
  background-color: brown;
}

.queue_button.active {
  background-color: green;
}

.queue_button:hover {
  background-color: rgb(161, 78, 78);
  cursor: pointer;
}

.queue_button:hover.active {
  background-color: rgb(53, 133, 53);
  cursor: pointer;
}